
body {
    background-image: url('https://i.pinimg.com/originals/19/7a/5e/197a5efb83dbb3bdc05fe76ad9e77b3d.jpg');
    font-family: 'Rancho', cursive;
    background-size: cover;
    /*display: flex;
    flex-direction: column;*/
    width: 100%;
    background-repeat: no-repeat;
    align-content: center;

}   
.appName {
    align-items: center;
    font-size: xx-large;
    background-color: black;
    opacity: .7;
    color: white;
    margin-top: -50px;
    padding-left: 15px;
    justify-content: space-around;
}  
h1 {
    margin-bottom: -70px;
} 
.form {
    margin-left: 750px;
} 
.weekDay {
    color: white;
    opacity: .7;
    font-size: x-large;
}
.submit {
    border-radius: 7px;
    border-width: 2px;
    color: white;
    border-color: white;
    background-color: black;
    padding: 15px;
    font-size: x-large;
    display: block;
    margin: 10px;
}
.submit:hover {
    background-image: linear-gradient(red,orange,yellow,green,blue,purple);
    color:black;
    cursor: pointer;
    font-weight: bold;
}
.input {
    padding: 10px;
}